{% include "header-top.html" %}
<title>RPG Gen | Internal server error</title> 
{% include "header-bottom.html" %}
<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('./static/assets/images/linus-sandvide-5DIFvVwe6wk-unsplash(2).jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>Something went wrong!<br>
                Internal server error
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% include "footer.html" %}