{% include "header-top.html" %}
<title>Ability Scores</title> 
{% include "header-bottom.html" %}
  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
              <h4>RPG Ability Score Generator</h4>
              <form action="abilityscore" method="post" class="reveal-content">
              <p><i>Which ability score generation method are you using?</i><br>
              <input type="radio" name="abilityscoremethod" id="standard" value="1"> 3d6<br>
              <input type="radio" name="abilityscoremethod" id="droplow" value="2" checked="true"> 4d6, drop low<br>
              <p>
              <button type="submit" class="btn btn-danger btn-lg">Generate Ability Scores</button>
              </form>
              {% if ability_scores %}
              <table>
                <th>Ability Scores </th>
                <tr><td colspan="2">&nbsp; <cite style="font-size: 9px;"> generated <span id="datetime"></span></cite></td></tr>
                  {% for ability, score in ability_scores.items() %}
                  <tr>
                    <td>{{ ability }}: </td>
                    <td>&nbsp;</td>
                    <td style="text-align: right">{{ score }}</td>
                  </tr>
                  {% else %}
                    <tr><td>None yet</td></tr>
                  {% endfor %}
                  {% endif %}
                  
              </table>
              <script>
                var dt = new Date();
                document.getElementById("datetime").innerHTML = dt.toLocaleTimeString();
              </script>
        </div>
      </div>
    </div>
  </div>
{% include "footer.html" %}