{% include "header-top.html" %}
<title>Critical Hits</title> 
{% include "header-bottom.html" %}
  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
              {% include 'generator.html' %}
              <h4>My Custom Weapon Critical Hit Generator</h4>
              <form action="generate_critical" method="post" class="reveal-content">
              <p><i>Base weapon damage (hover for weapon list)</i><br>
              <input type="radio" name="weaponDmg" id="weaponDmg" value="1" width="100px"><span title="club, dagger, light hammer, sickle, dart, sling, whip, Monk 1-4"> 1d4 </span> &nbsp; &nbsp; &nbsp; <input type="radio" name="weaponDmg" id="weaponDmg" value="6"><span title="ballista, catapult"> 3d10 (siege) </span><br>
              <input type="radio" name="weaponDmg" id="weaponDmg" value="2" ><span title="handaxe, javelin, mace, quarterstaff, spear, shortbow, scimitar, shortsword, trident, hand crossbow, Monk 5-10"> 1d6 </span> &nbsp; &nbsp; &nbsp; <input type="radio" name="weaponDmg" id="weaponDmg" value="7"><span title="trebuchet"> 8d10 (heavy siege) </span><br>
              <input type="radio" name="weaponDmg" id="weaponDmg" value="3" checked="true"><span title="greatclub, light crossbow, battleaxe, flail, longsword, morningstar, rapier, war pick, warhammer, longbow, Monk 11-16"> 1d8 </span><br>
              <input type="radio" name="weaponDmg" id="weaponDmg" value="4"><span title="glaive, halberd, pike, heavy crossbow, Monk 17-20"> 1d10 </span><br>
              <input type="radio" name="weaponDmg" id="weaponDmg" value="5"><span title="greataxe, greatsword, lance, maul"> 1d12 / 2d6 </span><br>
                          
              <p><i>Check all that apply:</i><br>
              <!-- each one below increases severity by 1 -->
              <input type="checkbox" name="severity" id="severity1" value="1"><span title="combat Feats, Brutal Critical, Dwarven Combat Training, Elf Weapon Training, (Half-Orc) Savage Attacks, etc."> relevant Feat/Trait/Feature</span> <br>
              <input type="checkbox" name="severity" id="severity2" value="1"><span title="Rage, Reckless Attack, Sneak Attack, etc."> relevant Class Feature</span><br>
              <input type="checkbox" name="severity" id="severity3" value="1"><span title="Monk 6+"> magic weapon</span><br>
              <p></p>
              <button type="submit" class="btn btn-danger btn-lg">Generate Critical Effect(s)</button>
              </form>
              
            
              <ul><b>Critical Hit Effects</b> &nbsp; <cite style="font-size: 9px;"> generated <span id="datetime"></span></cite>
              {% for critical_effects_element in critical_effects %}
                <li> {{ critical_effects_element }}</li>
              {% endfor %}
              </ul>
              <script>
                var dt = new Date();
                document.getElementById("datetime").innerHTML = dt.toLocaleTimeString();
              </script>
        </div>
      </div>
    </div>
  </div>
{% include "footer.html" %}