{% include "header-top.html" %}
<title>Critical Hits</title> 
{% include "header-bottom.html" %}
  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
              <a href='fumble.html'>
                <button type="button" class="btn btn-default btn-sm">Fumble Generator</button>
              </a>
              <h4>Fantasy RPG Critical Hit Generator:</h4>
              <form action="generate_critical" method="post" class="reveal-content">
              <p><i>Base weapon damage or which weapon is the character using?</i><br>
              <input type="radio" name="weaponDmg" id="weaponDmg" value="1" checked="true"> d4 damage (club/dagger/dart/sling) <br>
              <input type="radio" name="weaponDmg" id="weaponDmg" value="2"> d6 damage (hand axe/shortbow/short sword/staff) <br>
              <input type="radio" name="weaponDmg" id="weaponDmg" value="3"> d8 damage (battle axe/warhammer/spear/sword)<br>
              <input type="radio" name="weaponDmg" id="weaponDmg" value="4"> d10+ damage (great axe/pole arm/two-handed sword) <br>
              <input type="radio" name="weaponDmg" id="weaponDmg" value="5"> 3d6 damage / seige (catapult/ballista) <br>
              <input type="radio" name="weaponDmg" id="weaponDmg" value="6"> 4d6+ damage / heavy seige (trebuchet)<br> 
              <p></p>

              <p><i>Check all that apply:</i><br>
              <!-- each one below increases severity by 1 -->
              <input type="checkbox" name="severity" id="severity1" value="1"> Possesses a relevant Proficiency
              or Feat<br>
              <input type="checkbox" name="severity" id="severity2" value="1"> Possesses multiple relevant Powers <br>
              <input type="checkbox" name="severity" id="severity3" value="1"> Is in berserker rage or backstabbing <br>
              <input type="checkbox" name="severity" id="severity4" value="1"> Using a magic weapon <br>
              <p></p>
              <button type="submit" class="btn btn-danger btn-lg">Generate Critical Effect(s)</button>
              </form>
              
            
              <ul><b>Critical Hit Effects:</b>
              {% for critical_effects_element in critical_effects %}
                <li> {{ critical_effects_element }}</li>
              {% endfor %}
              </ul>
        </div>
      </div>
    </div>
  </div>
{% include "footer.html" %}