{% include "header-top.html" %}
<title>Dice</title> 
{% include "header-bottom.html" %}
  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
              <h4>RPG Dice Roller</h4>
              <form action="roll_dice" method="post" class="reveal-content">
              <label for="quantity">Quantity of dice: </label>
              <input type="number" name="quantity" id="quantity" min="1" max="1000" size="7">
              <br>
              <script type="text/javascript">
                document.getElementById('quantity').value = '1';
              </script>
              <input type="radio" name="dice" id="dice" value="4"> d4 &nbsp; &nbsp;
              <input type="radio" name="dice" id="dice" value="6"> d6 &nbsp; &nbsp;
              <input type="radio" name="dice" id="dice" value="8"> d8<br>
              <input type="radio" name="dice" id="dice" value="10"> d10 &nbsp; &nbsp;
              <input type="radio" name="dice" id="dice" value="12"> d12 &nbsp; &nbsp;
              <input type="radio" name="dice" id="dice" value="20" checked="true"> d20 
              <br>
              <label for="modifier">Modifier: </label>
              <input type="radio" name="mod" id="mod" value="+" checked="true"> + 
              <input type="radio" name="mod" id="mod" value="-"> - 
              <input type="number" name="mod_value" id="mod_value" min="0" max="10000" size="8">
              <script type="text/javascript">
                document.getElementById('mod_value').value = '0';
              </script>
              <hr>
<!--               <i style="font-size: 8px;">Note: Advantage / Disadvantage rolls are 2 d20 rolls with modifiers</i>
              <i style="font-size: 8px;">automatically selected, just choose Adv/Dis instead of normal roll</i>
              <br> -->
              <input type="radio" name="adv" id="adv" value="advantage"> Advantage 
              <input type="radio" name="adv" id="adv" value="disadvantage"> Disadvantage
              <input type="radio" name="adv" id="adv" value="normal" checked="true"> normal roll 
              <br>
              <button type="submit" class="btn btn-danger btn-lg">Roll Dice!</button>
              </form>
              {% if total %}
              <b>Roll Result</b>&nbsp; <cite style="font-size: 9px;"> generated <span id="datetime"></span></cite><br>
                {{ quantity }}d{{ dice }} {{ mod }} {{ mod_value }} = <mark style="font-size:20px">{{ total }}</mark>
              {% endif %}
              <script>
                var dt = new Date();
                document.getElementById("datetime").innerHTML = dt.toLocaleTimeString();
              </script>

        </div>
      </div>
    </div>
  </div>
{% include "footer.html" %}