<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <hr>
      {% include 'generator-categories.html' %}
      <hr>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <p>© <a href="https://jtalway.github.io/" title="Jason Alway" aria-label="Jason Alway" target="_blank">Jason Alway</a> | Python / Flask | <a href="https://github.com/jtalway/portfo" title="Source Code" aria-label="Source Code" target="_blank">Source Code</a>
      </div>
    </div>
  </div>
</footer>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>


<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>