{% include "header-top.html" %}
<title>Fumble</title> 
{% include "header-bottom.html" %}
  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
              {% include 'generator.html' %}
              <h4>My Custom RPG Fumble Generator</h4>
              <form action="generate_fumble" method="post" class="reveal-content">
              <p><i>Wielder is proficient with weapon?</i><br>
              <input type="radio" name="proficient" id="proficient" value="1" checked="true"> Yes<br>
              <input type="radio" name="proficient" id="proficient" value="0"> No (or using improvised weapon)<br>
              <p>

              <p><i>Check all that apply:</i><br>
              <!-- each one below increases severity by 1 -->
              <input type="checkbox" name="fsev" id="fseverity1" value="1"><span title="Flurry of Blows, Fighter 5+, Monk 5+, etc."> multiple attacks</span><br>
              <input type="checkbox" name="fsev" id="fseverity2" value="1"><span title="Barbarian, Fighter, Paladin, Ranger, Monk"> Martial Weapon Proficiency / Martial Arts</span><br>
              <input type="checkbox" name="fsev" id="fseverity3" value="1"><span title="Barbarian, Bard, Fighter, Monk, Ranger, Rogue"> Str / Dex saving throw Proficiency</span><br>
              <input type="checkbox" name="fsev" id="fseverity4" value="1"><span title="Monk 6+"> magic weapon</span><br>
              <p>
              <button type="submit" class="btn btn-danger btn-lg">Generate Fumble Effect(s)</button>
              </form>
              
              {% if fumble_effects %}
              <ul><b>Fumble Effects</b>&nbsp; <cite style="font-size: 9px;"> generated <span id="datetime"></span></cite>
              {% for fumble_effects_element in fumble_effects %}
                <li> {{ fumble_effects_element }}</li>
              {% endfor %}
              </ul>
              {% endif %}
              <script>
                var dt = new Date();
                document.getElementById("datetime").innerHTML = dt.toLocaleTimeString();
              </script>
      
        </div>
      </div>
    </div>
  </div>
{% include "footer.html" %}