{% include "header-top.html" %}
<title>Fumble</title> 
{% include "header-bottom.html" %}
  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
              {% include 'generator.html' %}
              <h4>RPG Fumble Generator</h4>
              <form action="generate_fumble" method="post" class="reveal-content">
              <p><i>Wielder is proficient with weapon?</i><br>
              <input type="radio" name="proficient" id="proficient" value="1" checked="true"> Yes<br>
              <input type="radio" name="proficient" id="proficient" value="0"> No <br>
              <p>

              <p><i>Check all that apply:</i><br>
              <!-- each one below increases severity by 1 -->
              <input type="checkbox" name="fsev" id="fseverity1" value="1"> Fighter Attack Progression<br>
              <input type="checkbox" name="fsev" id="fseverity2" value="1"> Possesses Combat-related proficiencies<br>
              <input type="checkbox" name="fsev" id="fseverity3" value="1"> Possesses Combat-related Power/Feats<br>
              <input type="checkbox" name="fsev" id="fseverity4" value="1"> Using a magic weapon <br>
              <p>
              <button type="submit" class="btn btn-danger btn-lg">Generate Fumble Effect(s)</button>
              </form>
              
            
              <ul><b>Fumble Effects</b>
              {% for fumble_effects_element in fumble_effects %}
                <li> {{ fumble_effects_element }}</li>
              {% endfor %}
              </ul>
      
        </div>
      </div>
    </div>
  </div>
{% include "footer.html" %}