{% include "header-top.html" %}
<title>Generators | Jason Alway</title> 
{% include "header-bottom.html" %}
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          {% include "generator-adventure-content.html" %}
          <hr>
          {% include "generator-character-content.html" %}
          <hr>
          {% include "generator-combat-content.html" %}
          <hr>
          {% include "generator-treasure-content.html" %}

       	</div>
      </div>
    </div>
</div>
{% include "footer.html" %}