          <div class="text-center">
            <h3>TREASURE</h3>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h4>AD&D 1st edition</h4>
        				<a href='treasure-type.html'><button type="button" class="btn btn-default btn-sm">Treasure Types</button></a>
        				<a href='magic-item.html'><button type="button" class="btn btn-default btn-sm">Magic Items</button></a>
                <a href='gem.html'><button type="button" class="btn btn-default btn-sm">Gems</button></a>
                <a href='jewelry.html'><button type="button" class="btn btn-default btn-sm">Jewelry</button></a>
            </div>
          </div>       
