{% include "header-top.html" %}
<title>Adventure Generators | RPG Gen</title> 
{% include "header-bottom.html" %}
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">Adventuring</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h3>Advanced Dungeons & Dragons 1st edition</h3>
				      <a href='dungeon-dressing.html'><button type="button" class="btn btn-default btn-sm">Dungeon Dressing</button></a>
              <a href='dungeon-encounter.html'><button type="button" class="btn btn-default btn-sm">Dungeon Encounter</button></a>
            </div>
          </div>       
       	</div>
      </div>
    </div>
</div>
{% include "footer.html" %}