<a href='critical.html'><button type="button" class="btn btn-default btn-sm">Criticals</button></a>
<a href='fumble.html'><button type="button" class="btn btn-default btn-sm">Fumbles</button></a>
<a href='dice.html'><button type="button" class="btn btn-default btn-sm">Roller</button></a>
<a href='abilityscore.html'><button type="button" class="btn btn-default btn-sm">Ability Scores</button></a>
<a href='treasure.html'><button type="button" class="btn btn-default btn-sm">AD&D Treasure</button></a>
<a href='magic-item.html'><button type="button" class="btn btn-default btn-sm">AD&D Magic Item</button></a>
<a href='dungeon-dressing.html'><button type="button" class="btn btn-default btn-sm">Dungeon Dressing</button></a>