<div class="text-center">
  <h3>ADVENTURING</h3>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 text-center">
    <a href="hexencounter.html" title="Wilderness Encounter" aria-label="Wilderness Encounter"><button type="button" class="btn btn-default btn-sm">Wilderness Encounter</button></a>
    <a href="roadencounter.html" title="Road Encounter" aria-label="Road Encounter"><button type="button" class="btn btn-default btn-sm">Road Encounter</button></a>
    <a href="dungeondressing.html" title="Dungeon Dressing" aria-label="Dungeon Dressing"><button type="button" class="btn btn-default btn-sm">1E Dungeon Dressing</button></a>
    <a href="dungeonencounter.html" title="Dungeon Encounter" aria-label="Dungeon Encounter"><button type="button" class="btn btn-default btn-sm">1E Dungeon Encounter</button></a>
  </div>
</div>       