<a href="diceroller.html" title="Dice Roller" aria-label="Dice Roller"><button type="button" class="btn btn-success btn-sm">Dice</button></a>
<a href="generator-adventure.html" title="Adventure Generators" aria-label="Adventure Generators"><button type="button" class="btn btn-primary btn-sm">Adventure</button></a>
<a href="generator-character.html" title="Character Generators" aria-label="Character Generators"><button type="button" class="btn btn-primary btn-sm">Character</button></a>
<a href="generator-combat.html" title="Combat Generators" aria-label="Combat Generators"><button type="button" class="btn btn-primary btn-sm">Combat</button></a>

<a href="generator-treasure.html" title="Treasure Generators" aria-label="Treasure Generators"><button type="button" class="btn btn-primary btn-sm">Treasure</button></a>
