          <div class="text-center">
            <h3>CHARACTERS</h3>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h4>All editions</h4>
				      <a href='abilityscore.html'><button type="button" class="btn btn-default btn-sm">Ability Scores</button></a>
              <a href='npc-facts.html'><button type="button" class="btn btn-default btn-sm">NPC Facts</button></a>
              <a href='fantasy-name.html'><button type="button" class="btn btn-default btn-sm">Fantasy Names</button></a>
            </div>
          </div>       
