<a href='dice.html'><button type="button" class="btn btn-default btn-sm">Dice</button></a>
<a href='generator-combat.html'><button type="button" class="btn btn-default btn-sm">Combat</button></a>
<a href='generator-adventure.html'><button type="button" class="btn btn-default btn-sm">Adventure</button></a>
<a href='generator-treasure.html'><button type="button" class="btn btn-default btn-sm">Treasure</button></a>
<a href='generator-character.html'><button type="button" class="btn btn-default btn-sm">Character</button></a>