{% include "header-top.html" %}
<title>Combat Generators | RPG Gen</title> 
{% include "header-bottom.html" %}
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">Combat</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h3>Dungeons & Dragons 5th edition</h3>
      				<a href='critical.html'><button type="button" class="btn btn-default btn-sm">Custom Criticals</button></a>
      				<a href='fumble.html'><button type="button" class="btn btn-default btn-sm">Custom Fumbles</button></a>
            </div>
          </div>       
       	</div>
      </div>
    </div>
</div>
{% include "footer.html" %}