{% include "header-top.html" %}
<title>Character Generators | RPG Gen</title> 
{% include "header-bottom.html" %}
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">Characters</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
				<a href='abilityscore.html'><button type="button" class="btn btn-default btn-sm">Ability Scores</button></a>
            </div>
          </div>       
       	</div>
      </div>
    </div>
</div>
{% include "footer.html" %}