          <div class="text-center">
            <h3>TREASURE</h3>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
        				<a href="treasuretype.html" title="Treasure Types" aria-label="Treasure Types"><button type="button" class="btn btn-default btn-sm">Treasure Types</button></a>
        				<a href="magicitem.html" title="Magic Items" aria-label="Magic Items"><button type="button" class="btn btn-default btn-sm">Magic Items</button></a>
                <a href="gem.html" title="Gems" aria-label="Gems"><button type="button" class="btn btn-default btn-sm">Gems</button></a>
                <a href="jewelry.html" title="Jewelry" aria-label="Jewelry"><button type="button" class="btn btn-default btn-sm">Jewelry</button></a>
            </div>
          </div>       
