          <div class="section-container-spacer text-center">
            <h1 class="h2">Treasure</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h3>AD&D 1st edition</h3>
        				<a href='treasure-type.html'><button type="button" class="btn btn-default btn-sm">Treasure Types</button></a>
        				<a href='magic-item.html'><button type="button" class="btn btn-default btn-sm">Magic Items</button></a>
                <a href='gem.html'><button type="button" class="btn btn-default btn-sm">Gems</button></a>
                <a href='jewelry.html'><button type="button" class="btn btn-default btn-sm">Jewelry</button></a>
            </div>
          </div>       
