          <div class="section-container-spacer text-center">
            <h2>Adventuring</h2>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h3>AD&D 1st edition</h3>
				      <a href='dungeon-dressing.html'><button type="button" class="btn btn-default btn-sm">Dungeon Dressing</button></a>
              <a href='dungeon-encounter.html'><button type="button" class="btn btn-default btn-sm">Dungeon Encounter</button></a>
            </div>
          </div>       