          <div class="text-center">
            <h3>CHARACTERS</h3>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
				      <a href="abilityscore.html" title="Ability Scores" aria-label="Ability Scores"><button type="button" class="btn btn-default btn-sm">Ability Scores</button></a>
              
              
              <a href="npcfacts.html" title="NPC Facts" aria-label="NPC Facts"><button type="button" class="btn btn-default btn-sm">NPC Facts</button></a>
              <a href="npcname.html" title="Fantasy Names" aria-label="NPC Names"><button type="button" class="btn btn-default btn-sm">NPC Names</button></a>
              <a href="helpermonkey.html" title="Helper Monkey" aria-label="NPC Names"><button type="button" class="btn btn-default btn-sm">Helper Monkey</button></a>
            </div>
          </div>       
