          <div class="section-container-spacer text-center">
            <h1 class="h2">Combat</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h3>D&D 5E</h3>
      				<a href='critical.html'><button type="button" class="btn btn-default btn-sm">Custom Criticals</button></a>
      				<a href='fumble.html'><button type="button" class="btn btn-default btn-sm">Custom Fumbles</button></a>
            </div>
          </div>       
