          <div class="text-center">
            <h3>COMBAT</h3>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
      				<a href="critical.html" title="Critical Hits" aria-label="Critical Hits"><button type="button" class="btn btn-default btn-sm">Criticals</button></a>
      				<a href="fumble.html" title="Fumbles" aria-label="Fumbles"><button type="button" class="btn btn-default btn-sm">Fumbles</button></a>
            </div>
          </div>       
