<a href='diceroller.html'><button type="button" class="btn btn-success btn-sm">Dice</button></a>
<a href='generator-combat.html'><button type="button" class="btn btn-primary btn-sm">Combat</button></a>
<a href='generator-adventure.html'><button type="button" class="btn btn-primary btn-sm">Adventure</button></a>
<a href='generator-treasure.html'><button type="button" class="btn btn-primary btn-sm">Treasure</button></a>
<a href='generator-character.html'><button type="button" class="btn btn-primary btn-sm">Character</button></a>
<a href='generators.html'><button type="button" class="btn btn-warning btn-sm">ALL</button></a>