<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description"
    content="Generators for Role-Playing Games">
  <meta name="keywords"
    content="jason, alway, jason alway, critical, criticals, critical hits, fumble, fumbles, generator, generators, frpg, fantasy, roleplaying, game,">
  <meta name="robots" content="index,follow">
  <meta name="google" content="notranslate" />
  <meta property="og:title" content="RPG Generators"/>
  <meta property="og:description" content="Random generators for RPGs"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://jtalway.pythonanywhere.com"/>
  <meta property="og:site_name" content="RPG Gen"/>
  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  <link rel="canonical" href="https://jtalway.pythonanywhere.com"/>
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./static/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./static/assets/favicon-16x16.png">
  <link rel="manifest" crossorigin="use-credentials" href="manifest.webmanifest">
  <link href="./static/main.3f6952e4.css" rel="stylesheet">

