{% include "header-top.html" %}
<title>Hex Encounters</title> 
{% include "header-bottom.html" %}
  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
           <h4>Custom Wilderness Encounters [ALPHA version]</h4>

              <form action="hexencounter" method="post" class="reveal-content">
              <label for="environment">Environment: </label>
              <select name="environment" id="environment">
                <option value="arctic">Arctic</option>
                <option value="coastal">Coastal</option>
                <option value="desert">Desert</option>
                <option value="forest" selected="selected">Forest</option>
                <option value="grassland">Grassland</option>
                <option value="hill">Hill</option>
                <option value="mountain">Mountain</option>
                <option value="swamp">Swamp</option>
                <option value="underground">Underground</option>
                <option value="underwater">Underwater</option>
                <option value="urban">Urban</option>
              </select>
              <label for="quantity">X</label>
              <input type="number" name="quantity" id="quantity" min='1' max='10' size="6" >
              <script type="text/javascript">
              document.getElementById('quantity').value = '1';
              </script>
              <button type="submit" class="btn btn-danger btn-lg">Generate Wilderness Encounter</button>
              </form>

              {% if encounter_list %}
              <b><u>{{environment}} Encounter (x{{quantity}})</u></b> &nbsp; <cite style="font-size: 9px;">
              generated <span id="datetime"></span></cite><br>
              {% endif %}
               {% if encounter_list %}
              {% for encounter in encounter_list %}
                <div style="line-height:125%;">
                {{ encounter }}<br><br>
                </div>
              {% endfor %}
              {% endif %}
              <hr>
              <h4>Notes</h4>
              *or creature that lairs in this area*<br>
              ^or humanoid race that rules in this area^<br>
              [possible activity]<br>
              group sizes are relative and are mostly provided for common entries<br>
              Urban/Underwater encounters don't make any sense at all - retool
              <hr>
              <a href="random-bird.html">Birds</a> &nbsp; <a href="random-tree.html">Trees</a> <br>
              <a href="random-herb.html">Herbs</a><br>
              <script>
                var dt = new Date();
                document.getElementById("datetime").innerHTML = dt.toLocaleTimeString();
              </script>
        </div>
      </div>
    </div>
  </div>
{% include "footer.html" %}