{% include "header-top.html" %}
<title>RPG Gen</title> 
{% include "header-bottom.html" %}
<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('./static/assets/images/linus-sandvide-5DIFvVwe6wk-unsplash(2).jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1><a href='generators.html'>RPG Gen</a> contains:<br>
                <span id="typed-strings">
                  <span>Critical Hit Generator</span>
                  <span>Fumble Generator</span>
                  <span>Ability Score Generator</span>
                  <span>Dice Roller</span>
                  <span>AD&D Treasure Generator</span>
                  <span>Dungeon Dressing Generator</span>
                  <span>more coming...</span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include "footer.html" %}