{% include "header-top.html" %}
<title>RPG Generators</title> 
{% include "header-bottom.html" %}
<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('./static/assets/images/linus-sandvide-5DIFvVwe6wk-unsplash(2).jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1><a href='generators.html'>Generators</a> ...<br>
                <span id="typed-strings">
                  <span>Critical Hits</span>
                  <span>Fumbles</span>
                  <span>Ability Scores</span>
                  <span>Dice Roller</span>
                  <span>Treasures</span>
                  <span>Gems</span>
                  <span>Jewelry</span>
                  <span>Magic Items</span>
                  <span>Dungeon Dressing</span>
                  <span>Dungeon Encounters</span>          
                  <span>more coming...</span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include "footer.html" %}