{% include "header-top.html" %}
<title>RPG Generators</title> 
{% include "header-bottom.html" %}
<!-- Add your site or app content here -->
  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('./static/assets/images/linus-sandvide-5DIFvVwe6wk-unsplash(2).jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h3>
                <p>
                Mobile-friendly RPG <a href="generators.html" title="Generators" aria-label="Generators">random generators</a>.
                </p>
                <p>
                <a href="generators.html" title="Generators" aria-label="Generators">Generators</a> such as... 
                <h1>
                <span id="typed-strings">
                  <span>Ability Scores</span>
                  <span>Dice Roller</span>
                  <span>Treasures</span>
                  <span>Gems</span>
                  <span>Jewelry</span>
                  <span>Magic Items</span>
                  <span>Dungeon Dressing</span>
                  <span>Dungeon Encounters</span>
                  <span>Fantasy Names</span>
                  <span>Critical Hits</span>
                  <span>Fumbles</span>         
                  <span>and more coming soon!</span>
                </span>
                <span id="typed"></span>
                </h1>
                </p>
                <br>
                <p>Please <a href="contact.html">contact me</a> with any suggestions or comments. Thank you :)
                </p>
                <p>
                  Also, check out <a href="https://voxeterna.com/" title="Vox Eterna" aria-label="Vox Eterna" target="_blank">Vox Eterna</a> - my RPG blogging platform.
                </p>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include "footer.html" %}