{% include "header-top.html" %}
<title>AD&D Magic Item</title> 
{% include "header-bottom.html" %}
  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
           <h4>AD&D Magic Item Generator</h4>
              <form action="magicitem" method="post" class="reveal-content">
              <select name="treasure" id="treasure">
                <option value="potion">potion</option>
                <option value="scroll">scroll</option>
                <option value="ring">ring</option>
                <option value="rodstaffwand">rod, staff or wand</option>
                <option value="miscX">miscellaneous magic item</option>
                <option value="armorshield">armor or shield</option>
                <option value="sword">sword</option>
                <option value="weapon">miscellaneous weapon</option>
              </select>
              <label for="quantity">X</label>
              <input type="number" name="quantity" id="quantity" min='1' max='100' size="6" >
              <script type="text/javascript">
              document.getElementById('quantity').value = '1';
              </script>
              <button type="submit" class="btn btn-danger btn-lg">Generate Magic Item</button>
              </form>
              {% if treasure_hoard %}
              <b><u>Treasure Result</u></b> &nbsp; <cite style="font-size: 9px;"> generated <span id="datetime"></span></cite><br>
              {% endif %}
               {% if treasure_hoard %}
              {% for treasure_element in treasure_hoard %}
                {{ treasure_element }}<br>
              {% endfor %}
              {% endif %}         
              <script>
                var dt = new Date();
                document.getElementById("datetime").innerHTML = dt.toLocaleTimeString();
              </script>
        </div>
      </div>
    </div>
  </div>
{% include "footer.html" %}