{% include "header-top.html" %}
<title>Resources</title> 
{% include "header-bottom.html" %}
  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
           <h4>donjon generators</h4>
            <a href="https://donjon.bin.sh/d20/weather/" target="_blank">Weather</a><br>
            <a href="https://donjon.bin.sh/fantasy/calendar/" target="_blank">Calendar</a><br>
            <a href="https://donjon.bin.sh/5e/dungeon/" target="_blank">D&D 5e Random Dungeon Generator</a><br>
            <a href="https://donjon.bin.sh/fantasy/inn/" target="_blank">Fantasy Inn/Tavern Generator</a><br>
            <a href="https://donjon.bin.sh/fantasy/demographics/" target="_blank">Medieval Demographics</a><br>
            <a href="https://donjon.bin.sh/d20/demographics/" target="_blank">D&D Demographics</a><br>
            <a href="https://donjon.bin.sh/fantasy/my_campaign/" target="_blank">Quick Campaign Info</a><br>
            <a href="https://donjon.bin.sh/d20/xp/" target="_blank">5E XP Calculator</a><br>

           <h4>Monster</h4>
            <a href="https://www.dndbeyond.com/sources/basic-rules/monsters#MonsterStatBlocks" target="_blank">D&D 5e Monster Stat Blocks</a><br>

           <h4>World Generation</h4>
            <a href="https://campaignwiki.org/text-mapper" target="_blank">Hex Terrain Generator</a><br>
            <a href="https://campaignwiki.org/hex-describe/" target="_blank">Hex Descriptions</a><br>
            <a href="https://azgaar.github.io/Fantasy-Map-Generator/" target="_blank">Fantasy Map Generator</a><br>  

          <h4>Misc</h4>
            <a href="https://crobi.github.io/dnd5e-quickref/preview/quickref.html" target="_blank">D&D 5e Quick Reference</a><br>
            <a href="http://rinkworks.com/namegen/fnames.cgi" target="_blank">Fantasy Name Generator</a><br>
            <a href="https://en.wikipedia.org/wiki/List_of_Greek_mythological_figures" target="_blank">Greek Gods</a><br>
            <a href="https://www.wordhippo.com/" target="_blank">Thesaurus</a><br>
              
              
        </div>
        </div>
      </div>
    </div>
  </div>
{% include "footer.html" %}