{% include "header-top.html" %}
<title>Treasure Types</title> 
{% include "header-bottom.html" %}
  <div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
           <h4>AD&D 1E Treasure Generator</h4>
              <form action="treasuretype" method="post" class="reveal-content">
              <label for="treasure">Treasure type: </label>
              <select name="treasure" id="treasure">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F &nbsp; (weaponless hoard)</option>
                <option value="G">G &nbsp; (rich hoard)</option>
                <option value="H">H &nbsp; (dragon hoard)</option>
                <option value="I">I &nbsp; (PP, gems, jewelry, magic)</option>
                <option value="J">J &nbsp; (pocket change - CP)</option>
                <option value="K">K &nbsp; (pocket change - SP)</option>
                <option value="L">L &nbsp; (pocket change - EP)</option>
                <option value="M">M &nbsp; (pocket change - GP)</option>
                <option value="N">N &nbsp; (pocket change - PP)</option>
                <option value="O">O &nbsp; (CP, SP)</option>
                <option value="P">P &nbsp; (SP, EP)</option>
                <option value="Q">Q &nbsp; (gems)</option>
                <option value="R">R &nbsp; (GP, PP, gems, jewelry)</option>
                <option value="S">S &nbsp; (potions)</option>
                <option value="T">T &nbsp; (scrolls)</option>
                <option value="U">U &nbsp; (gems, jewelry, magic)</option>
                <option value="V">V &nbsp; (magic treasure)</option>
                <option value="W">W &nbsp; (pirate booty)</option>
                <option value="X">X &nbsp; (misc. magic item + potion)</option>
                <option value="Y">Y &nbsp; (hoard of GP)</option>
                <option value="Z">Z</option>
              </select>
              <br><label for="quantity">X</label>
              <input type="number" name="quantity" id="quantity" min='1' max='10' size="6" >
              <script type="text/javascript">
              document.getElementById('quantity').value = '1';
              </script>
              <button type="submit" class="btn btn-danger btn-lg">Generate Treasure</button>
              </form>
              {% if coin_hoard or gem_hoard or jewelry_hoard or treasure_hoard %}
              <b><u>Treasure Result</u></b> &nbsp; <cite style="font-size: 9px;"> generated <span id="datetime"></span></cite><br>
              {% endif %}
              {% if coin_hoard %}
              <b>Coins</b>
              {% for coin in coin_hoard %}
                {{ coin }} &nbsp;
              {% endfor %}
              <br>
              {% endif %}
               {% if treasure_hoard %}
              <b>Magic Items</b>
              {% for treasure_element in treasure_hoard %}
                {{ treasure_element }}
              {% endfor %}
              <br>
              {% endif %}
              {% if gem_hoard %}
              <b>Gems</b>
              {{ gem_count }} gems ({{ gem_value }} gp total value) <br>
              {% for gem in gem_hoard %}
                {{ gem  }} 
              {% endfor %}
              <br>
              {% endif %}
              {% if jewelry_hoard %}
              <b>Jewelry</b>
              {{ jewelry_count }} pieces ({{ jewelry_value }} gp total value) <br>
              {% for jewelry in jewelry_hoard %}
                {{ jewelry }} 
              {% endfor %}
              {% endif %}
             
              <script>
                var dt = new Date();
                document.getElementById("datetime").innerHTML = dt.toLocaleTimeString();
              </script>
        </div>
      </div>
    </div>
  </div>
{% include "footer.html" %}